body{
/*Gradient background */
background-image: linear-gradient(to
bottom, #ff99cc, #ffffff);
font-family: Arial, sans-serif;
}
.messsage{
color: #00698f;
font-size:24px;
}
img{
width:100%;
height:auto;
margin:20px;
border-radius:10px;
box-shadow: 0 0 10px rgba(0, 0, 0, o.2);
}